/*
Theme Name: Clean Valley Council
Theme URI: http://cleanvalley.org/
Author: Anstey Hodge Advertising Group
Author URI: http://ansteyhodge.com/
Description: Developed for Clean Valley
*/

<meta name="p:domain_verify" content="0289476a422e4c828619642e0d09c0b4"/>

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */

::selection {
	background: #0090D2;
	color: #92CB3D;
}
.screen-reader-text {
	display: none;
}
html, body {
	background:#efefef;
	width:100%;
	height:100%;
	font-family: 'Source Sans Pro', sans-serif;
	margin:0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', serif;
	margin-bottom: 10px;
}
h1, h2 {
	font-size:32px;
	line-height: 46px;
}
.panel h2, .panel h2 {
	font-size: 4vw;
}
h3 {
	font-size: 24px;
	line-height: 36px;
}
h4 {
	font-size: 20px;
	line-height: 30px;
}
.events-box h1 {
	margin-left: 20px;
}
p, blockquote, #content ul, #content ol, #footer ul {
	font-size: 18px;
	line-height: 27px;
	margin-bottom:10px;
}
blockquote {
	padding: 0 30px;
	margin:30px 0;
	border-left: 2px solid #0090D2;
}
.border_left {
	border-left: 1px solid #999;
	padding-left: 10px;
}
#content ul {
	margin-left: 20px;
	list-style-type: disc;
}
#content ol {
	margin-left: 20px;
	list-style-type: decimal;
}
#content a {
	color:#0090D2;
	text-decoration: none;
}
#content ul.material {
	clear: both;
	margin-left: 0;
}
#content ul.material li {
	margin-right:10px;
	display: inline-block;
	width:150px;
}
#content ul.material li a {
	padding:10px;
	background:#ddd;
	border-radius: 4px;
	float: left;
	text-align: center;
	display: inline-block;
}
#content ul.material a[href*=".pdf"]:before {
	content: '\f1c1';
	font-family: fontawesome;
	font-size: 32px;
	line-height:46px;
	display: block;
}
#content ul.programs_list {
	list-style-type: none;
	margin-left: 0;
}
#content ul.programs_list li {
	display: block;
	background: #fff;
	border-radius: 4px;
	margin-bottom:10px;
	padding:20px;
}

em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
hr {
	margin:100px 0;
}
.alignleft {
	float: left;
	margin-right: 20px;
	clear: both;
}
.alignright {
	float: right;
	margin-left: 20px;
	clear: both;
}
.alignnone {
	max-width: 100%;
	width: 100%;
	height: auto;
	clear: both;
}
.button, #content a.button, #content .tribe-events-read-more, #content .tribe-events-widget-link a {
	padding:10px;
	display: inline-block;
	margin:10px 0;
	text-decoration: none;
	background: #0090D2;
	color: #fff;
}
.button:hover, #content a.button:hover {
	background: #49A8D2;
}
.panel .button {
	background:rgba(256, 256, 256, .5);
	color: #fff;
	text-shadow: 0 0 20px #000;
}
.panel .button:hover {
	background:rgba(256, 256, 256, .9);
	color: #0090D2;
	text-shadow: 0 0 20px #fff;
}
#logo {
	margin: 4px;
	z-index: 102;
	position: relative;
}
#header {
	padding: 10px 0px;
	position: absolute;
	left:0;
	right:0;
	z-index:100;
	background-size: cover;
	background-position: center;
	background-image:url('images/support_top_page.jpg');
}
.page #header:after {
	content: ' ';
	display: block;
	background: rgba(0,0,0,.2);
	position: relative;
	top:0;
	left:0;
	bottom:0;
	right:0;
}
.home #header {
	background-image:none;
	position: absolute;

}

.outer-menu .checkbox-toggle {
	display: none;
}
#header nav {
	position: absolute;
	right: 0;
	bottom: -15px;
	z-index: 102;
}
#header nav ul li {
	display: inline-block;
	position: relative;
}
#header nav ul li a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding:22px 20px 27px 20px;
	margin: 0px;
	font-size:16px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
}
#header nav ul li:hover > a {
	color:#0090D2;
	background: #fff;
	text-shadow: 0px 0px 0px transparent;
}
#header nav ul li ul {
	position: absolute;
	display: none;
	left: 0px;
	padding-left: 0;
}
#header nav ul li ul li a {
	background:rgba(0, 0, 0, .5);
	padding:15px 20px;
	white-space: nowrap;
}
#header nav ul li:hover > ul {
	display: block;
}
#header nav ul li:hover ul li {
	display: block;
}
#header nav ul li:hover ul li a{
	margin:0px;
}
#content {
	padding:100px 0;
}
.text-box {
	width:660px;
	margin:0 auto;
	box-sizing: border-box;
}
.full-width-text-box {
	width:960px;
}
.inner {
	width: 960px;
	margin:0 auto;
	position: relative;
}
.panel {
	box-sizing: border-box;
	padding:100px 0;
	background-size: cover;
	width:100vw;
	max-width:100%;
	height:90vh;
	position: relative;
	margin-bottom:10px;
}
#recycle {
	background: url('images/grass.jpg') no-repeat center;
	background-size: cover;
	position: relative;
	height: 400px;
	box-sizing: border-box;
	padding:150px 50px;
}
#recycle:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    background: #000;
}
#recycle form {
	position: relative;
    z-index: 2;
    margin: 0 auto;
    display: inline-block;
}
#recycle h1 {
	color: #fff;
	font-size: 40px;
	font-family: 'Merriweather', serif;
    position: relative;
    z-index: 2;
}
#recycle input[type="search"] {
	font-size: 40px;
	display: inline-block;
	padding: 10px;
	width: 200px;
	border: 0;
	background: rgba(256, 256, 256, .8);
	color:#000;
	font-family: 'Merriweather', serif;
	transition: width .5s;
}
#recycle input[type="search"]::placeholder {
	color: #000;
}
#recycle input[type="search"]:focus {
	width:300px;
}
#recycle button[type="submit"] {
	font-size: 40px;
	display: inline-block;
	padding: 0;
	margin: 0;
	border: 0;
	color:#000;
	font-family: 'FontAwesome', sans-serif;
	cursor: pointer;
	background: transparent;
}
.panel {
	overflow: hidden;
	color: #fff;
	background: #92CB3D;
}
.panel img {
	position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
	transform: translateX(-50%) translateY(-50%);
	z-index: 0;
}
.panel .text-box {
	z-index: 2;
	padding: 100px 10px;
	position: relative;
	text-align: center;
	width:100%;
}
.panel h2 {
	color: #fff;
	font-size: 4vw;
	text-shadow: 0 0 20px #000;
}
.panel p {
	margin:10px 0;
	text-shadow: 0 0 20px #000;

}
.half {
	width: 50%;
	box-sizing: border-box;
	float: left;
	padding: 0 50px;
}
.third {
	width:33%;
	box-sizing: border-box;
	float: left;
	position: relative;
	padding: 10px;
}
.third.center {
	text-align: center;
}
.fourth {
	width:25%;
	box-sizing: border-box;
	float: left;
	position: relative;
	padding: 10px;	
}


#news.half a.news {
	text-decoration: none;
	color: #666;
	display: block;
	margin-bottom: 10px;
	border-bottom:1px solid #ccc;
}
#news.half a.news strong {
	color:#333;
}
#events.half a.event {
	padding: 20px;
	background: #ddd;
	display: block;
	margin-bottom: 10px;
	color: #333;
	text-decoration: none;
}
#events.half a.event:hover {
	background: #fefefe;
}
#events.half a.event strong {
	font-size: 18px;
}
#events.half a.event img {
	float:left;
	margin-right: 10px;
	padding: 5px;
	background: #fff;
	width:25%;
	height: auto;
}
#events.half a.event.cvc {
	background: #92CB3D;
	color: #fff;
}
#events.half a.event.cvc:hover {
	background:#AACD65;
}
#events.half a.event.cvc img {
	display: block;
	float: none;
	margin-bottom:10px;
	width: 100%;
	height: auto;
	margin-right: 0px;
	padding: 0px;
}
#events.half a.event.cvc strong{
	font-size: 24px;
}
#events.half a.event.supported {
	background: #B7D1E9;
}
#events.half a.event.supported:hover {
	background:#D6E0EA;
}
#footer {
	border-top:1px solid #ccc;
	padding:30px 0;
	color: #666;
}
.home #footer {
	border-top:none;
}
#footer .third {
	height: 154px;
}
#footer .third p {
	position: absolute;
	bottom: 0;
}
#footer .third.center {
	padding: 30px 0;
}
#footer .third.center a.cvc {
	display: block;
	margin-bottom: 10px;
}
#footer .third.center ul li {
	display: inline-block;
}
#footer .third.center ul li:after {
	content: ' | ';
}
#footer .third.center ul li:last-child:after {
	content: '';
}
#footer .third.center ul li a, #footer .third a {
	color: #0090D2;
}

#footer ul.menu {
	margin-top: 0px;
	padding-left: 0px;
}


/* Events */

#content .events-box a.event, .tribe-events-list .type-tribe_events {
	padding: 20px;
	background: #ddd;
	display: block;
	margin-bottom: 40px;
	color: #333;
	text-decoration: none;
}
#content .events-box a.event strong {
	font-size: 18px;
}
#content .events-box a.event img {
	float:left;
	margin-right: 20px;
	padding: 5px;
	background: #fff;
	width: 25%;
	height: auto;
}
.tribe-list-widget {
	margin:0;
	padding:0;
}
.tribe-list-widget li, .tribe-events-list-widget .tribe-events-list-widget-events {
	background:#ddd;
	padding: 1.5rem;
}
#content .events-box a.event.cvc, .tribe-events-list .tribe-events-category-cvc, .tribe-list-widget .tribe-events-category-cvc {
	background: #92CB3D;
	color: #fff;
}
#content .tribe-events-list .tribe-events-category-cvc h2 a, #content .tribe-list-widget .tribe-events-category-cvc h4 a {
	color: #fff;
}
#content .events-box a.event.cvc img {
	display: block;
	float: left;
	width: 50%;
	padding: 0px;
}
.tribe-events-list .tribe-events-loop .tribe-events-event-image {
	width:45%;
}
#content .events-box a.event.cvc strong{
	font-size: 24px;
}
#content .events-box a.event.supported, .tribe-events-list .tribe-events-category-supported, .tribe-list-widget .tribe-events-category-supported {
	background: #B7D1E9;
}

#content .tribe-events-month table a {
	color: #999;
}
#content .tribe-events-month table .tribe-events-category-cvc  a {
	color: #92CB3D;
	font-weight: bold;
}
#content .tribe-events-month table .tribe-events-category-supported a {
	color: #0090D2;
	font-weight: bold;
}

@media all and (max-width:960px) {
	#logo {
		width:250px;
		height: auto;
	}
	.inner {
		width:100%;
	}

}
@media all and (max-width:768px) {
	.tribe-events-loop .tribe-events-event-meta {
		color: #000;
	}
}
@media all and (max-width:680px) {
	hr {
		margin: 40px 0;
	}
	#logo {
		margin:10px;
	}
	#recycle h1, #littlethings h2, #recycle input[type="text"], #recycle input[type="submit"] {
		font-size: 9vw;
	}
	#recycle h1 {
		text-align: center;
		line-height:12vw;
	}
	#recycle input[type="text"] {
		width: 40vw;
		padding: 1vw 11vw 1vw 1vw;
	}
	#recycle input[type="submit"] {
		padding: 1vw 2vw;
		margin:1vw 1vw 1vw -12.4vw;
	}
	#content {
		padding: 100px 0;
	}
	#content ol {
		margin-left: 0px; 
	}
	.events-box a.event img {
		width: 50%;
	}
	.events-box a.event.cvc img {
		width: 100%;
		margin-bottom: 20px;
	}
	.text-box, .full-width-text-box, .half, .third, .fourth {
		width: 100%;
		padding: 0 10px;
	}
	.half {
		margin: 20px 0;
	}
	.third, .fourth {
		text-align: center;
	}
	#footer .third, #footer .fourth {
		height: auto;
	}
	#footer .third p, #footer .fourth p {
		position: relative;
		bottom: auto;
	}

/*Begin Menu*/
	
* {
  box-sizing: border-box;
}
.outer-menu {
  position: fixed;
  top: 10px;
  right: 70px;
  z-index: 1;
}
.outer-menu .checkbox-toggle {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:before,
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked ~ .menu {
  pointer-events: auto;
  visibility: visible;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: .75s;
          transition-duration: .75s;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}
.outer-menu .checkbox-toggle:hover + .hamburger {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
.outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
.outer-menu .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: .5em 1em;
  background: rgba(256, 256, 256, 0.2);
  border-radius: 0 0.12em 0.12em 0;
  cursor: pointer;
  -webkit-transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.outer-menu .hamburger > div {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  width: 100%;
  height: 2px;
  background: #fefefe;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.outer-menu .hamburger > div:before,
.outer-menu .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: inherit;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.outer-menu .hamburger > div:after {
  top: 10px;
}
.outer-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  outline: 1px solid transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.outer-menu .menu > div {
  width: 200vw;
  height: 220vw;
  color: #fefefe;
  background: rgba(100, 100, 100, 0.97);
  border-radius: 50%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.outer-menu .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  overflow-y: auto;
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.outer-menu .menu > div > div > ul {
  list-style: none;
  padding: 0 1em;
  margin: 0;
  display: block;
  max-height: 100vh;
}
#header nav ul {
	padding:0;
}
#header nav ul li {
	display: block;
}
#header nav ul li a {
	text-shadow: 0px 0px 0px;
	padding:15px 0 10px;
	font-size: 18px;
}
#header nav ul li ul {
	display: block;
	position: relative;
	left: auto;
}
#header nav ul li:hover ul {
	display: block;
}
#header nav ul li ul li a {
	background: transparent;
	border-bottom: 0px solid #fff;
	font-size: 14px;
	padding: 5px 0;
}
.outer-menu .menu > div > div > ul > li {
  padding: 0;
  margin: 10px;
  font-size: 24px;
  display: block;
}
.outer-menu .menu > div > div > ul > li > a {
  position: relative;
  display: inline;
  cursor: pointer;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

}
@media all and (max-width:480px) {
	img.alignleft, img.alignright {
		min-width: 100%;
	}
	#header {
		background-image:transparent;
		background-color: #7CBF4A;
	}
}

